{% extends 'vacancy_search/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}建物コード検索{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'search/css/style.css' %}">
    {% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}建物コード検索{% endblock %}

    {% block contents %}
        <div id="search-conditions-form">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col col-3 col-sm-3 col-md-2 col-form-label"><label class="float-right">建物コード</label></div>
                    <div class="col-5 col-sm-4 col-md-3">{{ form.building_code }}</div>
                    <div class="col-4 col-sm-5 col-md-7">
                        <input type="submit" value="検索" class="btn btn-primary">
                        <input type="button" value="クリア" v-on:click="clearConditions($event)" class="btn btn-secondary">
                    </div>
                </div>
            </form>
        </div>

        {% if is_searched %}
        <div class="list-count">全 {{ buildings.count | default_if_none:'0' }} 件</div>
        {% if buildings %}
        <div id="data-list">
            <div class="row">
                <div class="col col-3 col-md-2 text-center">建物コード</div>
                <div class="col col-4 col-md-4 text-center">建物名称</div>
                <div class="col col-5 col-md-6 text-center">住所</div>
            </div>
            {% for item in buildings %}
            <div class="row">
                <div class="col col-3 col-md-2">
                    <div class="small">{{ item.building_code }}</div>
                </div>
                <div class="col col-4 col-md-4">
                    <div><a href="{% url 'building_building' item.oid %}" target="_blank" rel="noopener noreferrer">{{ item.building_name }}</a></div>
                    {% if item.building_old_name %}<div class="small">旧:&nbsp;{{ item.building_old_name }}</div>{% endif %}
                </div>
                <div class="col col-5 col-md-6">
                    <div class="small">{{ item.address }}</div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>該当する建物はありません。</p>
        {% endif %}
        </div>
        {% endif %}
    {% endblock %}

    {% block footer %}
        <script type="text/javascript" src="{% static 'search/js/search_building_code.js' %}"></script>
        <script type="text/javascript">
            var searchApp = createSearchBuildingCodeVue(
                "{{ searched_building_code | default_if_none:'' }}"
            );
        </script>
    {% endblock %}
